/*
 * main css file for milkbox.net
 *
 * simple
 */

a {
    color: darkgreen;
}

a:hover {
	text-decoration: none;
    color: darkgreen;
}

body {
    font-family: "HelveticaNeue", Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
   	line-height: 1.5em;
    font-size: 14px;
    background: #fff;
    margin: 0px;
    padding: 0px;
}

#icons {
    padding: 5px;
    margin-left: -1em;
}

#icons:after {
    clear: both;
}

.rssicon {
    width: 20px;
}

.thought-item {
	background: #eee;
    text-align: center;
    margin-bottom: .5em;
}

.thought-item a:hover {
    background: darkgreen;
    color: #eee;
    }

.thought-item a {
    display: block;
    text-decoration: none;
    }

#header {
    font-family: "HelveticaNeue", Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}
#header a, .title a {
    text-decoration: none;
}

#header h1, #header a {
    font-size: 60px;
    margin: 0;
}


.subtitle {
    font-style: italic;
}

.post-content {
    /* font-family: "Georgia", sans-serif; */
}

#header, #content, #menu, #footer {
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
	background: #eee;
    width:700px;
    text-align:center;
    margin-bottom: 2em;
}

.thought {
    margin-bottom: 2em;
}

.center {
    text-align: center;
}


#menu a {
    text-decoration: none;
    color: #555;
}

ul.inlinelist {
    margin-left: auto;
    margin-right: auto;
}

ul.inlinelist,  ul.inlinelist li {
    display: inline;
    padding: 0px 10px;
    margin: 0;
    list-style: none;
}

.title {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.title .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}


.fleft {
    float: left
}

.fright {
    float: right
}

div.fleft, div.fright {
    display: inline;
}

#footer {
    padding: 10px
}
