<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ : milkbox</title>
    <link href="/css/mb.css" rel="stylesheet" type="text/css" />
    <link rel="openid.server" href="http://openid.claimid.com/server" />
    <link rel="openid.delegate" href="http://openid.claimid.com/dcurtis" />
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div id="icons" class="fright">
          <a title="contact" href="mailto:contact[at]milkbox[dot]net">
            <img class="icon" src="/imgs/icons/contact_32.png" /></a>
          <a title="twitter" href="http://twitter.com/milkypostman">
            <img class="icon" src="/imgs/icons/twitter_32.png" /></a>
          <a title="github" href="http://github.com/milkypostman">
            <img class="icon" src="/imgs/icons/github_32.png" /></a>
          <a title="last.fm" href="http://www.last.fm/user/dcurtis">
            <img class="icon" src="/imgs/icons/lastfm_32.png" /></a>
          <a title="RSS Feed" href="/feed/">
            <img class="icon" src="/imgs/icons/rss_32.png" /></a>
        </div>
        <h1><a href="/"><strong>milkbox</strong></a>.net</h1>
        <!-- <h2>$title$</h2> -->
      </div>
      <div id="content">
        $body$
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>

